<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Backoffice</title>
    </h:head>
    <h:body>
		<h:form>
			<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
				<h:outputText value="Login"/>
				<h:inputText value="#{jSFManagedBean.login}"/>
				<h:outputText value="Password"/>
				<h:inputSecret value="#{jSFManagedBean.password}"/>
				<h:commandButton value="Send" action="#{jSFManagedBean.auth()}"/>
			</h:panelGrid>
		</h:form>
    </h:body>
</html>